<h1>Listing articles</h1>

<table>
  <tr>
    <th>Journal</th>
    <th>Vol</th>
    <th>Issue</th>
    <th>Page</th>
    <th>Pubdate</th>
    <th>Medline date</th>
    <th>Title</th>
    <th>Vernacular title</th>
    <th>Abstract</th>
    <th>Affiliation</th>
  </tr>

<% for article in @articles %>
  <tr>
    <td><%=h article.journal_id %></td>
    <td><%=h article.vol %></td>
    <td><%=h article.issue %></td>
    <td><%=h article.page %></td>
    <td><%=h article.pubdate %></td>
    <td><%=h article.medline_date %></td>
    <td><%=h article.title %></td>
    <td><%=h article.vernacular_title %></td>
    <td><%=h article.abstract %></td>
    <td><%=h article.affiliation %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New article', new_article_path %>
