<p>
  <b>Journal:</b>
  <%=h @article.journal_id %>
</p>

<p>
  <b>Vol:</b>
  <%=h @article.vol %>
</p>

<p>
  <b>Issue:</b>
  <%=h @article.issue %>
</p>

<p>
  <b>Page:</b>
  <%=h @article.page %>
</p>

<p>
  <b>Pubdate:</b>
  <%=h @article.pubdate %>
</p>

<p>
  <b>Medline date:</b>
  <%=h @article.medline_date %>
</p>

<p>
  <b>Title:</b>
  <%=h @article.title %>
</p>

<p>
  <b>Vernacular title:</b>
  <%=h @article.vernacular_title %>
</p>

<p>
  <b>Abstract:</b>
  <%=h @article.abstract %>
</p>

<p>
  <b>Affiliation:</b>
  <%=h @article.affiliation %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
