<% page_title "Author: " + @author.to_s %>
<h1><%= @author.to_s %></h1>

<%= see_also @author, @period %>
<div id="charts">
<%= authorship_position(@author, @period) %>
<%= author_publication_history(@author.author_stats) %>
</div>
<%= neighbors(@author, @period) %>
<%= subject_flow(@author.subjects.period(@period, 10).map {|s| s.subject}, @period) %>

<%= affiliations(@author) %>

<h2>Articles</h2>
<%= paginated_list @articles, @period %>
