<p>
  <b>Last name:</b>
  <%=h @author.last_name %>
</p>

<p>
  <b>Fore name:</b>
  <%=h @author.fore_name %>
</p>

<p>
  <b>Initials:</b>
  <%=h @author.initials %>
</p>

<p>
  <b>Suffix:</b>
  <%=h @author.suffix %>
</p>

<p>
  <b>Collective name:</b>
  <%=h @author.collective_name %>
</p>

<p>
  <b>One first:</b>
  <%=h @author.one_first %>
</p>

<p>
  <b>One last:</b>
  <%=h @author.one_last %>
</p>

<p>
  <b>One middle:</b>
  <%=h @author.one_middle %>
</p>

<p>
  <b>One total:</b>
  <%=h @author.one_total %>
</p>

<p>
  <b>Five first:</b>
  <%=h @author.five_first %>
</p>

<p>
  <b>Five last:</b>
  <%=h @author.five_last %>
</p>

<p>
  <b>Five middle:</b>
  <%=h @author.five_middle %>
</p>

<p>
  <b>Five total:</b>
  <%=h @author.five_total %>
</p>

<p>
  <b>Ten first:</b>
  <%=h @author.ten_first %>
</p>

<p>
  <b>Ten last:</b>
  <%=h @author.ten_last %>
</p>

<p>
  <b>Ten middle:</b>
  <%=h @author.ten_middle %>
</p>

<p>
  <b>Ten total:</b>
  <%=h @author.ten_total %>
</p>

<p>
  <b>All first:</b>
  <%=h @author.all_first %>
</p>

<p>
  <b>All last:</b>
  <%=h @author.all_last %>
</p>

<p>
  <b>All middle:</b>
  <%=h @author.all_middle %>
</p>

<p>
  <b>All total:</b>
  <%=h @author.all_total %>
</p>

<p>
  <b>One rank:</b>
  <%=h @author.one_rank %>
</p>

<p>
  <b>Five rank:</b>
  <%=h @author.five_rank %>
</p>

<p>
  <b>Ten rank:</b>
  <%=h @author.ten_rank %>
</p>

<p>
  <b>All rank:</b>
  <%=h @author.all_rank %>
</p>


<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
