<h1>Editing subject</h1>

<% form_for(@subject) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :term %><br />
    <%= f.text_field :term %>
  </p>
  <p>
    <%= f.label :one_major %><br />
    <%= f.text_field :one_major %>
  </p>
  <p>
    <%= f.label :one_other %><br />
    <%= f.text_field :one_other %>
  </p>
  <p>
    <%= f.label :one_total %><br />
    <%= f.text_field :one_total %>
  </p>
  <p>
    <%= f.label :five_major %><br />
    <%= f.text_field :five_major %>
  </p>
  <p>
    <%= f.label :five_other %><br />
    <%= f.text_field :five_other %>
  </p>
  <p>
    <%= f.label :five_total %><br />
    <%= f.text_field :five_total %>
  </p>
  <p>
    <%= f.label :ten_major %><br />
    <%= f.text_field :ten_major %>
  </p>
  <p>
    <%= f.label :ten_other %><br />
    <%= f.text_field :ten_other %>
  </p>
  <p>
    <%= f.label :ten_total %><br />
    <%= f.text_field :ten_total %>
  </p>
  <p>
    <%= f.label :all_major %><br />
    <%= f.text_field :all_major %>
  </p>
  <p>
    <%= f.label :all_other %><br />
    <%= f.text_field :all_other %>
  </p>
  <p>
    <%= f.label :all_total %><br />
    <%= f.text_field :all_total %>
  </p>
  <p>
    <%= f.label :one_to_five %><br />
    <%= f.text_field :one_to_five %>
  </p>
  <p>
    <%= f.label :one_to_five_score %><br />
    <%= f.text_field :one_to_five_score %>
  </p>
  <p>
    <%= f.label :one_to_ten %><br />
    <%= f.text_field :one_to_ten %>
  </p>
  <p>
    <%= f.label :one_to_ten_score %><br />
    <%= f.text_field :one_to_ten_score %>
  </p>
  <p>
    <%= f.label :one_to_all %><br />
    <%= f.text_field :one_to_all %>
  </p>
  <p>
    <%= f.label :one_to_all_score %><br />
    <%= f.text_field :one_to_all_score %>
  </p>
  <p>
    <%= f.label :five_to_ten %><br />
    <%= f.text_field :five_to_ten %>
  </p>
  <p>
    <%= f.label :five_to_ten_score %><br />
    <%= f.text_field :five_to_ten_score %>
  </p>
  <p>
    <%= f.label :five_to_all %><br />
    <%= f.text_field :five_to_all %>
  </p>
  <p>
    <%= f.label :five_to_all_score %><br />
    <%= f.text_field :five_to_all_score %>
  </p>
  <p>
    <%= f.label :ten_to_all %><br />
    <%= f.text_field :ten_to_all %>
  </p>
  <p>
    <%= f.label :ten_to_all_score %><br />
    <%= f.text_field :ten_to_all_score %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @subject %> |
<%= link_to 'Back', subjects_path %>
