<h1>Listing subjects</h1>

<table>
  <tr>
    <th>Term</th>
    <th>One major</th>
    <th>One other</th>
    <th>One total</th>
    <th>Five major</th>
    <th>Five other</th>
    <th>Five total</th>
    <th>Ten major</th>
    <th>Ten other</th>
    <th>Ten total</th>
    <th>All major</th>
    <th>All other</th>
    <th>All total</th>
    <th>One to five</th>
    <th>One to five score</th>
    <th>One to ten</th>
    <th>One to ten score</th>
    <th>One to all</th>
    <th>One to all score</th>
    <th>Five to ten</th>
    <th>Five to ten score</th>
    <th>Five to all</th>
    <th>Five to all score</th>
    <th>Ten to all</th>
    <th>Ten to all score</th>
  </tr>

<% for subject in @subjects %>
  <tr>
    <td><%=h subject.term %></td>
    <td><%=h subject.one_major %></td>
    <td><%=h subject.one_other %></td>
    <td><%=h subject.one_total %></td>
    <td><%=h subject.five_major %></td>
    <td><%=h subject.five_other %></td>
    <td><%=h subject.five_total %></td>
    <td><%=h subject.ten_major %></td>
    <td><%=h subject.ten_other %></td>
    <td><%=h subject.ten_total %></td>
    <td><%=h subject.all_major %></td>
    <td><%=h subject.all_other %></td>
    <td><%=h subject.all_total %></td>
    <td><%=h subject.one_to_five %></td>
    <td><%=h subject.one_to_five_score %></td>
    <td><%=h subject.one_to_ten %></td>
    <td><%=h subject.one_to_ten_score %></td>
    <td><%=h subject.one_to_all %></td>
    <td><%=h subject.one_to_all_score %></td>
    <td><%=h subject.five_to_ten %></td>
    <td><%=h subject.five_to_ten_score %></td>
    <td><%=h subject.five_to_all %></td>
    <td><%=h subject.five_to_all_score %></td>
    <td><%=h subject.ten_to_all %></td>
    <td><%=h subject.ten_to_all_score %></td>
    <td><%= link_to 'Show', subject %></td>
    <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
    <td><%= link_to 'Destroy', subject, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New subject', new_subject_path %>
