<h1>Subjects</h1>
<%= subject_flow @subjects, @period %>

<%= clouds(@subjects.sort_by(&:to_s), @period + "_major") if first_page? %>
<%= will_paginate(@subjects) if first_page? %>
<%= alphabetical_query_list @q unless first_page? %>
<%= paginated_list @subjects, @period  unless first_page? %>

<% if first_page? -%>
<h2>Rising or Falling Subjects</h2>

<table id="bull_or_bear">
  <tr>
    <th>Subjects</th>
    <th>1yr &mdash; 5yr</th>
    <th>1yr &mdash; 10yr</th>
    <th>1yr &mdash; all</th>
    <th>5yr &mdash; 10yr</th>
    <th>5yr &mdash; all</th>
    <th>10yr &mdash; all</th>
  </tr>
<% for r in @rf_subjects -%>
  <tr>
    <td><%= link_to r.term, subject_path(r) + "/#{@period}" %></td>
    <td class="<%= bull_or_bear(r.one_to_five) %>"><%= r.one_to_five.round %><%= "%" if @rf_subjects.index(r) == 0 %></td>
    <td class="<%= bull_or_bear(r.one_to_ten) %>"><%= r.one_to_ten.round %><%= "%" if @rf_subjects.index(r) == 0 %></td>
    <td class="<%= bull_or_bear(r.one_to_all) %>"><%= r.one_to_all.round %><%= "%" if @rf_subjects.index(r) == 0 %></td>
    <td class="<%= bull_or_bear(r.five_to_ten) %>"><%= r.five_to_ten.round %><%= "%" if @rf_subjects.index(r) == 0 %></td>
    <td class="<%= bull_or_bear(r.five_to_all) %>"><%= r.five_to_all.round %><%= "%" if @rf_subjects.index(r) == 0 %></td>
    <td class="<%= bull_or_bear(r.ten_to_all) %>"><%= r.ten_to_all.round %><%= "%" if @rf_subjects.index(r) == 0 %></td>
  </tr>
<% end -%>
</table>
<% end -%> 