<p>
  <b>Term:</b>
  <%=h @subject.term %>
</p>

<p>
  <b>One major:</b>
  <%=h @subject.one_major %>
</p>

<p>
  <b>One other:</b>
  <%=h @subject.one_other %>
</p>

<p>
  <b>One total:</b>
  <%=h @subject.one_total %>
</p>

<p>
  <b>Five major:</b>
  <%=h @subject.five_major %>
</p>

<p>
  <b>Five other:</b>
  <%=h @subject.five_other %>
</p>

<p>
  <b>Five total:</b>
  <%=h @subject.five_total %>
</p>

<p>
  <b>Ten major:</b>
  <%=h @subject.ten_major %>
</p>

<p>
  <b>Ten other:</b>
  <%=h @subject.ten_other %>
</p>

<p>
  <b>Ten total:</b>
  <%=h @subject.ten_total %>
</p>

<p>
  <b>All major:</b>
  <%=h @subject.all_major %>
</p>

<p>
  <b>All other:</b>
  <%=h @subject.all_other %>
</p>

<p>
  <b>All total:</b>
  <%=h @subject.all_total %>
</p>

<p>
  <b>One to five:</b>
  <%=h @subject.one_to_five %>
</p>

<p>
  <b>One to five score:</b>
  <%=h @subject.one_to_five_score %>
</p>

<p>
  <b>One to ten:</b>
  <%=h @subject.one_to_ten %>
</p>

<p>
  <b>One to ten score:</b>
  <%=h @subject.one_to_ten_score %>
</p>

<p>
  <b>One to all:</b>
  <%=h @subject.one_to_all %>
</p>

<p>
  <b>One to all score:</b>
  <%=h @subject.one_to_all_score %>
</p>

<p>
  <b>Five to ten:</b>
  <%=h @subject.five_to_ten %>
</p>

<p>
  <b>Five to ten score:</b>
  <%=h @subject.five_to_ten_score %>
</p>

<p>
  <b>Five to all:</b>
  <%=h @subject.five_to_all %>
</p>

<p>
  <b>Five to all score:</b>
  <%=h @subject.five_to_all_score %>
</p>

<p>
  <b>Ten to all:</b>
  <%=h @subject.ten_to_all %>
</p>

<p>
  <b>Ten to all score:</b>
  <%=h @subject.ten_to_all_score %>
</p>


<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
