<h1>New journal</h1>

<% form_for(@journal) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :abbr %><br />
    <%= f.text_field :abbr %>
  </p>
  <p>
    <%= f.label :issn %><br />
    <%= f.text_field :issn %>
  </p>
  <p>
    <%= f.label :essn %><br />
    <%= f.text_field :essn %>
  </p>
  <p>
    <%= f.label :nlm_id %><br />
    <%= f.text_field :nlm_id %>
  </p>
  <p>
    <%= f.label :impact_factor %><br />
    <%= f.text_field :impact_factor %>
  </p>
  <p>
    <%= f.label :one %><br />
    <%= f.text_field :one %>
  </p>
  <p>
    <%= f.label :five %><br />
    <%= f.text_field :five %>
  </p>
  <p>
    <%= f.label :ten %><br />
    <%= f.text_field :ten %>
  </p>
  <p>
    <%= f.label :all %><br />
    <%= f.text_field :all %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', journals_path %>
