<p>
  <b>Title:</b>
  <%=h @journal.title %>
</p>

<p>
  <b>Abbr:</b>
  <%=h @journal.abbr %>
</p>

<p>
  <b>Issn:</b>
  <%=h @journal.issn %>
</p>

<p>
  <b>Essn:</b>
  <%=h @journal.essn %>
</p>

<p>
  <b>Nlm:</b>
  <%=h @journal.nlm_id %>
</p>

<p>
  <b>Impact factor:</b>
  <%=h @journal.impact_factor %>
</p>

<p>
  <b>One:</b>
  <%=h @journal.one %>
</p>

<p>
  <b>Five:</b>
  <%=h @journal.five %>
</p>

<p>
  <b>Ten:</b>
  <%=h @journal.ten %>
</p>

<p>
  <b>All:</b>
  <%=h @journal.all %>
</p>


<%= link_to 'Edit', edit_journal_path(@journal) %> |
<%= link_to 'Back', journals_path %>
