<% page_title "Journal: " + @journal.to_s %>

<h1><%= @journal.to_s %></h1>
<div id="charts">
<%= publication_history(@journal.journal_stats) %>
</div>
<%= neighbors(@journal, @period) %>
<%= subject_flow(@journal.subjects.period(@period, 10).map {|s| s.subject}, @period) %>
<h2>Articles</h2>
<%= paginated_list @articles, @period %>
