<% page_title "Gene: " + @gene.to_s %>
<h1><%= @gene.to_s %></h1>
<div id="charts">
<%= publication_history(@gene.gene_stats) %>
</div>
<%= neighbors(@gene, @period) %>
<%= subject_flow(@gene.subjects.period(@period, 10).map {|s| s.subject}, @period) %>
<h2>Articles</h2>
<%= paginated_list @articles, @period %>
