<p>
  <b>Taxonomy:</b>
  <%=h @gene.taxonomy %>
</p>

<p>
  <b>Symbol:</b>
  <%=h @gene.symbol %>
</p>

<p>
  <b>Synonyms:</b>
  <%=h @gene.synonyms %>
</p>

<p>
  <b>Chromosome:</b>
  <%=h @gene.chromosome %>
</p>

<p>
  <b>Map location:</b>
  <%=h @gene.map_location %>
</p>

<p>
  <b>One:</b>
  <%=h @gene.one %>
</p>

<p>
  <b>Five:</b>
  <%=h @gene.five %>
</p>

<p>
  <b>Ten:</b>
  <%=h @gene.ten %>
</p>

<p>
  <b>All:</b>
  <%=h @gene.all %>
</p>


<%= link_to 'Edit', edit_gene_path(@gene) %> |
<%= link_to 'Back', genes_path %>
