<p>
  <b>Title:</b>
  <%=h @pubtype.title %>
</p>

<p>
  <b>One:</b>
  <%=h @pubtype.one %>
</p>

<p>
  <b>Five:</b>
  <%=h @pubtype.five %>
</p>

<p>
  <b>Ten:</b>
  <%=h @pubtype.ten %>
</p>

<p>
  <b>All:</b>
  <%=h @pubtype.all %>
</p>


<%= link_to 'Edit', edit_pubtype_path(@pubtype) %> |
<%= link_to 'Back', pubtypes_path %>
